<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">

<servlet>
<servlet-name>Search</servlet-name>
<servlet-class>src.Address.Top</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Search</servlet-name>
<url-pattern>/servlet/Search</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Registration</servlet-name>
<servlet-class>src.Address.INSERT1</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Registration</servlet-name>
<url-pattern>/servlet/Registration</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Checktest</servlet-name>
<servlet-class>src.Address.INSERT2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Checktest</servlet-name>
<url-pattern>/servlet/Checktest</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Result</servlet-name>
<servlet-class>src.Address.INSERT3</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Result</servlet-name>
<url-pattern>/servlet/Result</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Confirmation</servlet-name>
<servlet-class>src.Address.INSERT4</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Confirmation</servlet-name>
<url-pattern>/servlet/Confirmation</url-pattern>
</servlet-mapping>

</web-app>